# Anthropic (used by Vercel serverless function — Sprint F)
ANTHROPIC_API_KEY=

# Vercel (for CLI deploys)
VERCEL_PROJECT_ID=prj_pjmrN0tUpDgTsQTv6808AwYfa8dy
VERCEL_TEAM_ID=team_8wum7h9ziS5nFZazqEQljQlh
